@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;     
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/OpenSans-Light.woff') format('woff');
  font-display: swap;
}