body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: $c-bg;
  color: $c-default;
}

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding-top: 99px;

  @include r($r-sm) {
    padding-top: 75px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.lock {
  overflow: hidden;
  position: relative;
  height: auto;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .main {
    z-index: -1;
  }
}

.label-checkbox {
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  display: block;

  &::before {
    @include pseudo;
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &::after {
    @include pseudo;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/markup.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 2;
  }
}

.input-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:checked+.label-checkbox {
    &::after {
      opacity: 1;
    }
  }
}

.btn {
  font-weight: 700;
  padding: 17px 60px;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto;
  display: block;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: $c-default;
  text-align: center;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  overflow-x: auto;

  @include r($r-md) {
    justify-content: flex-start;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link,
  .about__tabs-link {
    white-space: nowrap;
    padding: 10px 25px;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    outline: transparent;
    border: 1px solid transparent;
    transition: color 0.4s linear;


    &:hover {
      color: $c-orange;
    }

    &:focus {
      border: 1px solid $c-orange;
    }

    &--active {
      font-weight: 700;
      color: #fff;
      background-color: $c-orange;
      transition: color 0.4s linear;

      &:hover {
        color: $c-default;
        background-color: rgb(239 127 26 / 0.8);
      }
    }
  }
}

.measurements-link,
.calculation-link {
  padding: 12px 19px 12px 47px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  position: relative;
  display: inline-block;

  &::before {
    @include pseudo;
    display: block;
    width: 20px;
    height: 18px;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.measurements-link {
  background-color: $c-orange;
  margin-left: auto;
  margin-right: 14px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 0.3s linear, border 0.3s linear;

  &::before {
    background-image: url('../images/icons/measurements.svg');
  }

  &:hover {
    background-color: rgb(255, 149, 0);
    border: 1px solid $c-orange;
  }

  &:focus {
    border: 1px solid #3b3a63;
  }
}

.calculation-link {
  background-color: #3b3a63;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 0.3s linear, border 0.3s linear;

  &::before {
    background-image: url('../images/icons/calculation.svg');
  }

  &:hover {
    background-color: rgb(19, 30, 153);
    border: 1px solid black;
  }

  &:focus {
    border: 1px solid $c-orange;
  }
}

.order-popup {
  max-width: 595px;
  margin: 0 auto;
  padding: 56px 100px 70px;
  border-radius: 10px;
  position: relative;

  @include r($r-sm) {
    padding: 55px 19px 35px;
  }

  &--measurements {
    background-color: $c-orange;
  }

  &--calculation {
    background-color: $c-default;
  }

  &__fieldset {
    border: transparent;
    margin: 0;
    padding: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    padding-left: 56px;
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;

    @include r($r-sm) {
      font-size: 22px;
      margin-bottom: 23px;
    }

    &::before {
      @include pseudo;
      display: block;
      width: 30px;
      height: 27px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--measurements {
      &::before {
        background-image: url('../images/icons/measurements.svg');

      }
    }

    &--calculation {
      &::before {
        background-image: url('../images/icons/calculation.svg');
      }
    }
  }

  &__item {
    font-size: 14px;
    color: #fff;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 38px;
    }
  }

  &__input {
    width: 100%;
    padding: 17px;
    outline: transparent;
    border-radius: 3px;
    border: transparent;

    @include r($r-sm) {
      padding: 10px;
    }

    &::placeholder {
      color: #424268;
    }
  }

  .label-textarea {
    min-height: 135px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 3px;
  }

  &__textarea {
    resize: none;
    display: block;
    max-width: 380px;
    width: 100%;
    height: 110px;
    margin-top: 12px;
    padding: 5px 17px 0;
    background-color: #e2e2e2;
    overflow-y: scroll;
    outline: transparent;
    border: transparent;

    @include r($r-sm) {
      max-width: 100%;
    }

    &::placeholder {
      color: #424268;
    }

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement,
    &::-webkit-scrollbar-button:vertical:end:increment {
      width: 16px;
      height: 8px;
      background-image: url('../images/icons/text-area-bottom.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement {
      background-image: url('../images/icons/text-area-top.svg');
    }

    &::-webkit-scrollbar-button:vertical:end:increment {
      background-image: url('../images/icons/text-area-bottom.svg');
    }
  }

  &__link {
    color: $c-default;

    &--calculation {
      color: $c-orange;
    }
  }

  &__btn {
    &--calculation {
      color: $c-default;
    }

    &--measurements {
      color: $c-orange;
    }
  }

  .mfp-container {
    width: 100%;
    max-width: 595px;
    left: 50%;
    transform: translateX(-50%);
  }

  .mfp-close {
    position: absolute;
    background-color: #fff;
    top: 26px;
    right: 20px;
    width: 21px;
    height: 21px;
    opacity: 1;
    font-size: 0;
    mask-image: url('../images/sprite.svg#close-icon');
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}