@mixin pseudo($pos: absolute, $content: '') {
  content: $content;
  position: $pos;
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}


@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}


$c-default:#2f2f51;
$c-bg: #e5e5e5;
$c-orange: #ef7f1a;
$c-black: #000;
$c-gray: #e2e2e2;


$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
$burgerColor: #000000;


$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1200;
