.contacts {
  padding-bottom: 40px;

  &__inner {
    display: flex;
    justify-content: space-around;

    @include r($r-lg) {
      flex-direction: column;
    }
  }

  &__info {
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: -40px;
    right: -90px;
    width: 327px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;

    @include r($r-xl) {
      opacity: 0.2;
    }

    @include r($r-lg) {
      display: none;
    }
  }

  &__list {
    margin-bottom: 58px;

    @include r($r-lg) {
      margin-bottom: 30px;
    }
  }

  &__list-text {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    position: relative;
    font-size: 18px;
    color: $c-black;

    @include r($r-sm) {
      font-size: 16px;
    }

    &::before {
      @include pseudo;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &--phone {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.6;

      @include r($r-sm) {
        font-size: 16px;
      }

      &::before {
        background-image: url(../../images/icons/phone.svg);
        width: 25px;
        height: 27px;
      }
    }

    &--address::before {
      background-image: url(../../images/icons/location.svg);
      width: 20px;
      height: 26px;
    }

    &--email::before {
      background-image: url(../../images/icons/email.svg);
      width: 20px;
      height: 22px;
    }
  }

  &__link-phone {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__text {
    max-width: 230px;
    margin-bottom: 20px;

    @include r($r-lg) {
      max-width: 100%;
    }
  }

  &__social {
    @include r($r-lg) {
      margin-bottom: 20px;
    }
  }

  &__form {
    max-width: 510px;
    width: 100%;
    padding: 52px 57px 46px 60px;
    background-color: #fff;
    margin: 0;

    @include r($r-lg) {
      margin: 0 auto;
    }

    @include r($r-sm) {
      padding: 25px 20px 30px 20px;
    }
  }

  &__title {
    padding-left: 0;
    color: $c-default;
  }

  &__input {
    background-color: #e2e2e2;
  }

  &__label-checkbox {
    color: $c-default;

    &::before {
      background-color: #e2e2e2;
    }
  }

  &__btn {
    background-color: $c-default;
    color: #fff;

    @include r($r-sm) {
      padding: 15px 20px;
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $c-orange;
    width: 26px;
    height: 25px;
    display: block;
    transition: background-color 0.4s linear;

    &:hover {
      background-color: $c-default;
    }
  }
}
