.portfolio {
  margin-bottom: 80px;

  &__wrapper {
    background-color: #fff;
    border-radius: 3px;
    padding: 50px 36px 45px;
  }

  &__slider {}

  .slick-list {
    margin-left: 25px;
    padding-left: 38px;
  }

  .slick-track {
    padding: 15px 0;
  }

  .slick-current {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    transition: 0.4s ease;
  }

  .slick__btn {
    @include pseudo;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 48px;
    background-color: $c-black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    z-index: 2;
    transition: background-color 0.4s linear;

    &--prev {
      left: 0;
      mask-image: url(../../images/icons/slider-arrow-left.svg);
    }

    &--next {
      right: 0;
      mask-image: url(../../images/icons/slider-arrow-rigth.svg);
    }

    &:hover {
      background-color: $c-orange;
    }
  }

  &__link {
    display: block;
  }

  &__img {
    border-radius: 3px;
    transition: filter 0.4s linear;
    object-fit: cover;

    &:hover {
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    }
  }

  &__popup {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 auto;
    // padding: 50px 30px 40px 87px;
    max-width: 1000px;
    position: relative;

    .mfp-close {
      position: absolute;
      background-color: $c-black;
      top: 33px;
      right: 31px;
      width: 16px;
      height: 16px;
      opacity: 1;
      font-size: 0;
      mask-image: url(../images/sprite.svg#close-black);
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  &__info-slider {
    position: relative;
    padding: 50px 30px 40px 87px;

    .slick-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 35px;
      left: 22%;
      transform: translateX(-15%);

      li {
        &:not(:last-child) {
          margin-right: 12px;
        }

        button {
          font-size: 0;
          width: 8px;
          height: 8px;
          border: 1px solid #9494A8;
          background-color: #fff;
          border-radius: 50%;
        }
      }

      .slick-active {
        button {
          background-color: $c-orange;
        }
      }
    }

  }

  &__info-item {
    display: flex !important;
    justify-content: space-between;
  }

  &__info-img {
    object-fit: cover;
    margin-right: 60px;
  }

  &__info-descr {
    padding-right: 35px;
  }

  &__info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__info-date {
    font-size: 14px;
    color: #9494a8;
    margin-right: 30px;
  }

  &__info-location {
    position: relative;
    padding-left: 42px;
    font-weight: 700;

    &::before {
      @include pseudo;
      width: 30px;
      height: 39px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../../images/icons/geo-icon.svg);
    }
  }

  &__info-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__info-block {
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
  }

  &__info-work {
    display: block;
    font-weight: 400;
    color: #000000;
  }

  &__calculation{
    &::before{
      width: 29px;
      height: 19px;
      left: 11px;
      background-image: url(../../images/icons/price.svg);
    }
  }




}

#map {
  width: 100%;
  height: 310px;
}