.question {
  margin-bottom: 87px;

  @include r($r-sm) {
    margin-bottom: 50px;
  }

  &__wrapper {
    background-color: $c-orange;
    border-radius: 7px;
    padding: 40px 100px 65px;

    @include r($r-md) {
      padding: 30px 40px 50px;
    }

    @include r($r-sm) {
      font-size: 16px;
      padding: 30px 10px 35px;
    }
  }

  &__title {
    margin-bottom: 50px;
    color: #fff;

    @include r($r-md) {
      margin-bottom: 30px;
    }
  }

  &__item {
    background-color: #eeeef3;
    border-radius: 3px;
    transition: background-color 0.4s linear, box-shadow 0.4s linear;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover {
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

      .question__question {
        color: $c-orange;

        &::before {
          background-color: $c-orange;
        }
      }
    }
  }

  &__question {
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 30px 55px 25px 20px;
    position: relative;
    transition: color 0.4s linear;

    @include r($r-sm) {
      font-size: 16px;
      padding: 10px 35px 15px 10px;
    }

    &::before {
      @include pseudo;
      width: 28px;
      height: 22px;
      right: 20px;
      background-color: $c-default;
      mask-image: url(../../images/sprite.svg#arrow-bottom);
      mask-repeat: no-repeat;
      mask-size: cover;
      transition: background-color 0.4s linear, transform 0.4s linear;

      @include r($r-sm) {
        right: 5px;
      }
    }

    &--active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__answer {
    padding: 0 20px 25px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    display: none;

    @include r($r-sm) {
      padding: 0 10px 15px;
      font-size: 14px;
    }
  }
}