.product {
  margin-bottom: 95px;

  @include r($r-lg) {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__calculation-link {
    left: 50%;
    transform: translateX(-50%);
    padding: 18px 54px 18px 76px;

    &::before {
      left: 35px;
    }
  }
}

.product-content {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 55px;

  @include r($r-md) {
    margin-bottom: 30px;
  }

  &__item {
    display: block;
    height: 0;
    overflow: hidden;

    &--active {
      height: auto;
    }
  }
}

.product-slider {

  &__box {
    display: flex !important;
    justify-content: space-between;
    max-width: 1145px;
    margin: 0 auto;
    max-height: 461px;

    @include r($r-md) {
      flex-direction: column;
      max-height: max-content;
    }
  }

  &__img {
    object-fit: cover;

    @include r($r-lg) {
      width: 410px;
      height: 330px;
    }

    @include r($r-md) {
      width: 100%;
    }

    @include r($r-sm) {
      height: auto;
    }
  }

  &__content {
    padding: 72px 33px 52px 35px;
    background-color: #fff;
    width: 100%;

    @include r($r-lg) {
      padding: 15px;
    }

    @include r($r-md) {
      padding: 15px 15px 35px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
    color: $c-orange;

    @include r($r-lg) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    @include r($r-sm) {
      text-align: center;
      font-size: 25px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    color: $c-black;
    margin-bottom: 30px;
    max-width: 390px;

    @include r($r-lg) {
      font-size: 16px;
      max-width: 100%;
      margin-bottom: 20px;
    }

    @include r($r-sm) {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  &__list {
    font-size: 18px;
    line-height: 2.2;
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-weight: 400;
    color: $c-black;
    border-bottom: 2px dotted #bababa;
    position: relative;

    @include r($r-lg) {
      display: flex;
      justify-content: space-between;
    }

    @include r($r-sm) {
      font-size: 14px;
    }
  }

  &__name {
    background-color: #fff;
    bottom: -13px;
    position: relative;
    padding-right: 2px;
  }

  &__num {
    background-color: #fff;
    bottom: -13px;
    position: absolute;
    right: 0;
    padding-left: 2px;
    max-width: 115px;
    width: 100%;
    font-weight: 700;
    color: $c-default;

    @include r($r-lg) {
      width: auto;
    }
  }

  .slick__btn {
    @include pseudo;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background-color: $c-black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    z-index: 2;
    transition: background-color 0.4s linear;

    &--prev {
      left: 0;
      mask-image: url(../images/icons/slider-arrow-left.svg);

    }

    &--next {
      right: 0;
      mask-image: url(../images/icons/slider-arrow-rigth.svg);
    }

    &:hover {
      background-color: $c-orange;
    }
  }

  .slick-disabled {
    background-color: #8f8f8f;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    li {
      &:not(:last-child) {
        margin-right: 12px;
      }

      button {
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: #8f8f8f;
        border-radius: 50%;
        outline: transparent;
        border: 1px solid transparent;

        &:focus {
          border: 1px solid rgb(255, 234, 4);
        }
      }
    }

    .slick-active {
      button {
        background-color: $c-orange;
      }
    }
  }
}

.product-quality {
  margin-bottom: 55px;

  @include r($r-lg) {
    margin-bottom: 35px;
  }

  &__inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 35px 45px 65px;

    @include r($r-lg) {
      padding: 35px;
    }
  }

  &__logo {
    width: auto;
    height: auto;
    margin: 0 auto 55px;

    @include r($r-lg) {
      margin: 0 auto 25px;
    }
  }

  &__list {
    display: flex;

    @include r($r-lg) {
      display: block;
    }
  }

  &__item {
    position: relative;
    padding-top: 130px;
    color: #fff;
    text-align: center;
    width: -webkit-fill-available;

    @include r($r-lg) {
      padding-top: 110px;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include r($r-lg) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    &::before {
      @include pseudo;
      width: 98px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--sertification::before {
      background-image: url(../images/product/icon-1.svg);
      height: 93px;
    }

    &--factory::before {
      background-image: url(../images/product/icon-2.svg);
      height: 78px;
    }

    &--leader::before {
      background-image: url(../images/product/icon-3.svg);
      height: 75px;
    }

    &--equipment::before {
      background-image: url(../images/product/icon-4.svg);
      height: 92px;
    }

    &--assortment::before {
      background-image: url(../images/product/icon-5.svg);
      height: 99px;
    }
  }
}